.NavBar {
    background-color: transparent;
    display: inline-flexbox;
}

.logo-sistema {
    max-width: 40px;
    margin-top: 5px;
    margin-left: 50px;
}

.title {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(211, 191, 211);
}

.title-mobile {
    float: left;
    margin-left: 10px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(211, 191, 211);
}

.icon {
    float: left;
    margin-left: 40px;
}

